body {
    margin: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
    font-size: 7em;
}

.tick line {
    stroke: #C0C0BB;
}

.tick text {
    fill: #635F5D;
}

.tick2 line {
    stroke: red;
}

.tick2 text {
    fill: red;
}

.marks {
    fill: #137B80;
}

.marks path{
    stroke: #de6a6c;
}

.axis-label {
    font-size: 2.5em;
    fill : #635F5D;
}

circle {
    stroke: 2px black;
    fill: rgba(0, 0, 0, 0.6);
}

g {
    border: 1px solid red;
}